*{
  margin:0px;
}
:root{
  --white:#ffffff;
  --black:#000000;
  --red:#b10000;
  --pink:#f6aeff;
  --yellow:#dac400;
  --green:rgb(0, 53, 0);
  --lightred:#ad2c2c;
}
.App{
  flex: 1;  
}
body{
  font-family: poppins;
}
html {
  scroll-behavior: smooth;
}
html, body, #root {
  height: 100%;        /* full height available */
  margin: 0;           /* remove default margin */
  display: flex;
  flex-direction: column;
}
